.App {
  text-align: center;
  background-color: #131E2D;
  min-width:100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./app/assets/pexels-cottonbro-3945321.jpeg");
  .app-wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      min-width:100vw;
      min-height: 100vh;
    background-color: rgba(19, 30, 45, 0.8);
  }
}

h2,p,h1,div,h3,span,a{
  color:black;
  font-family: "Roboto",sans-serif;
}


.section-title {
  text-align: left;
  margin: 80px auto 20px auto;
  font-size: 28px;
  font-weight: 900;
  font-style: normal;
}

.primary-button{
background-color: rgba(19, 30, 45, 0.8)!important;
color:white!important;
margin:5px!important;
border:1px solid rgba(19, 30, 45, 0.8) !important;

}

.primary-button:hover{
  opacity: 0.75;
}


.secondary-button{
  background-color: white!important;
  color: rgba(19, 30, 45, 0.8)!important;
  border:1px solid rgba(19, 30, 45, 0.8)!important;
margin:5px !important;
}

.secondary-button:hover{
opacity: 0.75;
}



.form-wrapper {

  background-color: white;
  border-radius: 10px;
  padding: 40px;
  min-width: 50vh;

  .form-anchor {
    margin-top: 20px;
  }


}


.fade-enter {
  opacity: 0;

}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 250ms ease-out;
}



@media screen and (max-width:991px) {
    .section-title {
      text-align: center;
      font-size: 21px;
    }
  

}