.App {
  text-align: center;
  background-color: #131E2D;
  min-width:100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./app/assets/pexels-cottonbro-3945321.jpeg");
  .app-wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      min-width:100vw;
      min-height: 100vh;
    background-color: rgb(19, 30, 45, 0.6);
  }
}


.primary-button{
background-color: #2185d0!important;
color:white!important;
margin:5px!important;
border:1px solid #2185d0 !important;

}

.primary-button:hover{
  opacity: 0.75;
}


.secondary-button{
  background-color: white!important;
  color: #2185d0!important;
  border:1px solid #2185d0!important;
margin:5px !important;
}

.secondary-button:hover{
opacity: 0.75;
}



.form-wrapper {

  background-color: white;
  border-radius: 10px;
  padding: 40px;
  min-width: 50vh;

  .form-anchor {
    margin-top: 20px;
  }


}


.fade-enter {
  opacity: 0;

}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 250ms ease-out;
}